:root {
    --color-dark: #27292a;
    --color-red: red;
    --color-darkest: #1f2122;
    --distacne-primary: 50px;
    --padding-primary: var(--distacne-primary);
    --margin-primary: var(--distacne-primary);
    --border-radius-primary: calc(var(--distacne-primary) / 2);
    --font-weight-bold: 900;
    --font-weight-normal:400;
}

/* import the font-family from google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');


body {
    background-color: var(--color-darkest);
    font-family: 'Poppins', sans-serif;
}

ul {
    list-style-type: none;
}

a{
    text-decoration: none;
}